{% extends "base.html" %}
{% block title %}Running configuration
{% endblock %}
{% block content %}
{{ super() }}
<h3>Render config</h3>

Show an elements running configuration (current configuration).<br>
Please be patient, retrieveing the configuration can take up to 60 seconds. 
<form id="form" method="get" class="form-horizontal" style="width: 100%;">
 <div class="panel panel-default center-block" style="width: 95%;">
    <div class="panel-body">
        <div class='row'>
		    <div class="form-group col-sm-8">
                <label class='col-sm-4 control-label'>Hostname</label>
                <div class='col-sm-4 selectContainer'>
                    <input type="text" class="form-control" name="hostname" id="hostname" placeholder="Hostname" value="{{param['hostname'] }}">
                </div>
            </div>
        </div>
        <div class='row'>
                <label class='col-sm-4 control-label'></label>
                <div class='col-sm-4 checkContainer'>
			        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
    	</div>
    </div>
    </div>
</form>


{% if config %}
<pre>
{{ config }}
</pre>
{% endif %}


<script type="text/javascript">

$(document).ready(function() {
	param = $.parseJSON( '{{paramJson | safe}}' );
});

</script>

{% endblock %}
